body{
    margin:0;
    
    font-family: 'Poppins', sans-serif;
    
   
}
.header-section{
    background-image:url(donate-2022.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    
    
    height:100vh;
    margin-bottom:150px;
}
.content{
    background: linear-gradient(rgb(0,0,0,0.2),rgb(0,0,0,0.8));
    width: 100vw;
    height:100vh;
    overflow: hidden;

}


.content h1{
   
    margin-left: 45%;
    margin-right:15%;     
    margin-top:10%;   
    font-size:45px;
    color: white;
    
}
.content p{
    margin-left:40%;
    font-size: 20px;
    margin-right: 10%;  
    margin-bottom: 50px;
    color:white;
}

.content  a{
    
    text-decoration: none;
    color: white;
    font-weight: 500;
    background:#E31E30;
    padding: 12px 25px;
    border-radius: 10px;   
    margin-left:55%;
}

.middle-area{
margin-bottom: 150px;
}

.donate h1{
    margin-left:40%;
    font-size: 35px;
    font-weight:700;
}
.donate p{
    margin-left: 30%;
    margin-right:25%;
}
.amount{
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right:10%;
    opacity:70%;
    margin-bottom: 50px;
}
.taka{
    padding:30px 15px;
   background: gainsboro;
   border-radius:10px;  
}
#two-hundred{
    background: #FFEEEE;
    color:#FF5959;
    border:2px solid #FF5959;
}
.email{
    margin-left:30%;
    align-content: center;
    text-align: center;
    font-size:25px;
    padding:20px 150px;
    border: none;
    border-bottom: 1px solid gray;
    margin-bottom:40px;
}
.middle-content a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    background:#E31E30;
    padding: 12px 25px;
    border-radius: 10px;   
    margin-left:45%;
}
.plan-title h2{
    margin-left:42%;
    font-size: 35px;
    font-weight:700;
}
.plan-title p{
    margin-left: 32%;
    margin-right:25%;
    margin-bottom:50px;   
}

.icon-area{
    display: flex;
    margin-left:10%;
    margin-right:10%;
    justify-content: space-evenly;
    margin-bottom:100px;
}
.food{
    background: #EDF5F6;
    width:70%;
    border-radius: 10px;
    margin-right: 30px;
}
.icon-img{

    padding: 10px 20px;
    margin-top:30px;
}
.icon-head{
  margin-left:15px;
  font-size:25px;
  font-weight:600;
}
.icon-text{
    margin-left:15px;
    padding-bottom:25px;
}
.shelter{
    background: #FFEEEE;
    width:70%;
    border-radius: 10px;
    margin-right: 30px;
}

.education{
    background: #ffbe76;
    width:70%;
    border-radius: 10px;
    margin-right: 10px;

}
.appeal h2{
    margin-left:30%;
    font-size: 35px;
    font-weight:700;

}
.flood{
    display: flex;
    margin-left:10%;
    margin-right:10%;
    justify-content: space-evenly;
    margin-bottom:100px;
}
.build{
    margin-right: 30px;
    border-radius:10px;
    box-shadow: 5px 5px 5px 5px gray;
    padding-bottom: 50px;
}
.feed{
    margin-right: 30px;
    border-radius:10px;
    box-shadow: 5px 5px 5px 5px gray;

}
.sylhet{
    margin-right: 20px;
    border-radius:10px;
    box-shadow: 5px 5px 5px 5px gray;
}
.flood-head{
    margin-left:25px;
    font-size:25px;
    font-weight:600;
}
.flood-context{
    margin-left:15px;
    padding-bottom:25px;
}
.flood a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    background:#E31E30;
    padding: 12px 25px;
    border-radius: 10px;
    margin-left: 105px;
}
.update-head h3{
    margin-left:40%;
    font-size: 35px;
    font-weight:700;

}
.update-head p{
    margin-left: 30%;
    margin-right:25%;
    margin-bottom:50px

}

.email-subscribe{
    display: flex;
    margin-left:15%;
    margin-right:15%;
    background: #FFF4D6;
    margin-bottom: 140px;
    border-radius: 20px;
    
    
}
input[type="search"]{
    width: 250px;
    background: #D9D9D9;
    position: relative;
    padding:10px 60px;
    margin:70px 0px 70px 30px;
    align-items: center;
    border-radius: 5px 0px 0px 5px;
    margin-left:250px;
    border: none;
    padding-right:20x;
    
}
.email-subscribe a{
    margin-top:70px;
    margin-bottom:70px;
    
    padding:10px 30px;
   
    background: #FF5959;
    color:white;
    font-weight:500;
    border-radius:0px 5px 5px 0px;
    cursor: pointer;
    border: none;
    text-decoration:none;
    
}

.footer-area{

    background: black;
    width:100%;
    padding:10px 0px;
}
.humble{
    margin-top:50px;
    color:#FF5959;
    text-align: center;
    font-size:40px;
    font-family: 'Pacifico', cursive;
    
   
    
}
.footer-content p{
    color: white;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Yellowtail', cursive;

}